#top {
  min-width: 1200px;
}
.title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.title h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  color: #262626;
}
.title p {
  font-size: 18px;
  line-height: 1;
  color: #999;
  margin-top: 16px;
  font-family: 'PingFangSC-Thin', 'PingFang SC Thin', 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}
.animated.info {
  width: 525px;
  position: absolute;
  top: 170px;
  left: 0;
}
.animated.info h3 {
  font-size: 42px;
  color: #fff;
}
.animated.info p {
  font-size: 18px;
  color: #fff;
  margin-top: 35px;
  line-height: 1.5;
  font-family: 'PingFangSC-Thin', 'PingFang SC Thin', 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}
.banner {
  height: 500px;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(top, #0a2033, #0d2940);
  background-image: -moz-linear-gradient(top, #0a2033, #0d2940);
  background-image: -o-linear-gradient(top, #0a2033, #0d2940);
}
.banner .w {
  position: relative;
}
.banner .w .info .tiyan {
  width: 140px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  background-color: #30B4F2;
  border-radius: 4px;
  margin-top: 40px;
  cursor: pointer;
}
.banner .w .pic {
  position: absolute;
  width: 650px;
  height: 360px;
  right: -90px;
  top: 95px;
}
.value {
  padding-bottom: 70px;
}
.value .clearfix .item {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  text-align: center;
}
.value .clearfix .item img {
  margin-bottom: 10px;
}
.value .clearfix .item p {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-top: 15px;
}
.value .clearfix .item div {
  font-size: 24px;
  color: #005AAA;
}
.value .clearfix .item > div > span {
  font-size: 34px;
}
.dataArchitecture {
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
.dataArchitecture .title {
  padding-bottom: 40px;
}
.dataArchitecture .w {
  text-align: center;
}
.dataArchitecture .w p {
  margin-bottom: 50px;
  font-size: 14px;
  color: #6e6e6e;
  line-height: 2;
  text-align: left;
}
.dataPlatform {
  height: 620px;
  background: url("../image/data/6.png") no-repeat center;
}
.dataPlatform .title h3 {
  color: #fff;
}
.dataPlatform .title p {
  color: rgba(255, 255, 255, 0.5);
}
.dataPlatform .w {
  position: relative;
}
.dataPlatform .w h5 {
  position: absolute;
  color: #30B5F2;
  font-size: 34px;
  top: 85px;
  left: 525px;
}
.dataPlatform .w .item {
  position: absolute;
}
.dataPlatform .w .item p {
  color: #fff;
  font-size: 18px;
}
.dataPlatform .w .item p img {
  vertical-align: middle;
  margin-right: 10px;
}
.dataPlatform .w .item ul li {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.dataPlatform .w .goin {
  position: absolute;
  top: 290px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  background-color: #00B5F8;
}
.dataPlatform .w .item:nth-child(2) {
  top: -23px;
  left: 110px;
}
.dataPlatform .w .item:nth-child(2) p {
  margin-bottom: 24px;
}
.dataPlatform .w .item:nth-child(3) {
  top: -12px;
  right: 105px;
}
.dataPlatform .w .item:nth-child(3) p {
  margin-bottom: 24px;
}
.dataPlatform .w .item:nth-child(3) ul li {
  padding-left: 12px;
}
.dataPlatform .w .item:nth-child(4) {
  bottom: -340px;
  left: 90px;
}
.dataPlatform .w .item:nth-child(4) p {
  margin-bottom: 28px;
}
.dataPlatform .w .item:nth-child(5) {
  bottom: -368px;
  right: 80px;
}
.dataPlatform .w .item:nth-child(5) p {
  margin-bottom: 26px;
  padding-left: 38px;
}
.appmarket {
  padding-bottom: 70px;
}
.appmarket .w .info {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}
.appmarket .w .info .tab {
  padding-left: 20px;
  padding-right: 20px;
  width: 220px;
  border-right: 1px solid #E6E6E6;
  float: left;
  box-sizing: border-box;
}
.appmarket .w .info .tab li {
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  line-height: 65px;
  color: #6e6e6e;
  font-size: 14px;
  background: url("../image/cloudMarket/1.png") no-repeat right center;
  cursor: pointer;
}
.appmarket .w .info .tab li:hover,
.appmarket .w .info .tab li.active {
  color: #30B5F2;
  background: url("../image/cloudMarket/2.png") no-repeat right center;
}
.appmarket .w .info .tab li:first-child {
  position: relative;
}
.appmarket .w .info .tab li:first-child .line {
  width: 1px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -21px;
  background-color: #fff;
}
.appmarket .w .info .tab li:last-child {
  border-bottom: none;
  position: relative;
}
.appmarket .w .info .tab li:last-child .line {
  width: 1px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: -21px;
  background-color: #fff;
}
.appmarket .w .info .tab-info {
  float: left;
  padding: 50px;
  box-sizing: border-box;
  width: 978px;
}
.appmarket .w .info .tab-info .tab-item {
  display: none;
}
.appmarket .w .info .tab-info .tab-item .content .content-info {
  float: left;
  width: 650px;
}
.appmarket .w .info .tab-info .tab-item .content .content-info h5 {
  height: 42px;
  font-size: 24px;
  color: #262626;
}
.appmarket .w .info .tab-info .tab-item .content .content-info p {
  line-height: 1.5;
  font-size: 14px;
  color: #6e6e6e;
}
.appmarket .w .info .tab-info .tab-item .content .content-info a {
  color: #30b5f2;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}
.appmarket .w .info .tab-info .tab-item .content img {
  float: right;
}
.appmarket .w .info .tab-info .tab-item .application {
  margin-top: 50px;
}
.appmarket .w .info .tab-info .tab-item .application .tit {
  border-bottom: 1px solid #E6E6E6;
  height: 32px;
  font-size: 16px;
  color: #262626;
}
.appmarket .w .info .tab-info .tab-item .application .items {
  padding-top: 24px;
}
.appmarket .w .info .tab-info .tab-item .application .items li {
  text-align: center;
  margin-right: 40px;
  float: left;
}
.appmarket .w .info .tab-info .tab-item .application .items li p {
  color: #6e6e6e;
  line-height: 1;
  margin-top: 15px;
  font-size: 14px;
}
.appmarket .w .info .tab-info .tab-item .application .items li img {
  width: 190px;
  height: 91px;
  box-sizing: border-box;
  border-radius: 8px;
}
.appmarket .w .info .tab-info .tab-item .application .items li a {
  line-height: 91px;
  color: #30b5f2;
  padding-left: 60px;
  font-size: 14px;
}
.appmarket .w .info .tab-info .tab-item .application .items li:last-child {
  margin-right: 0;
}
.appmarket .w .info .tab-info .tab-item.active {
  display: block;
}
.basicResources {
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
.basicResources .w ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  background-color: #fff;
}
.basicResources .w ul li .bg {
  width: 100%;
}
.basicResources .w ul li .icon {
  width: 70px;
  height: 60px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 50%;
  margin-left: -35px;
}
.basicResources .w ul li .text-con {
  box-sizing: border-box;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 18px 0;
  height: 190px;
}
.basicResources .w ul li .text-con .text1 {
  font-size: 18px;
  margin: 0 0 15px;
}
.basicResources .w ul li .text-con .text2 {
  color: #666666;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.basicResources .w ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}
.basicResources .w ul li:nth-child(1) .text-con {
  border-left: 1px solid #e6e6e6;
}
.basicResources .w ul li:nth-child(1) .text-con .text1 {
  color: #333;
}
.basicResources .w ul li:nth-child(2) .text-con .text1 {
  color: #333;
}
.basicResources .w ul li:nth-child(3) .text-con .text1 {
  color: #333;
}
.basicResources .w ul li:nth-child(4) .text-con .text1 {
  color: #333;
}
